body {
    background: #111;
    color: #95ad97;
    display: grid;
    font-family: monospace !important;
    font-size: 24px;
    height: 100vh;
    width: auto;
    margin: 20px;
    place-content: center;
  }

  .intro-info img {
    height: 6.6rem;
    width: 6.6rem;
    float: none;
    display: inline-block;
}